:root {
    --primary-color: #FEF5EDff;
    --title-color: #007189ff;
    --section-color: #EADED0ff;
    --text-color: #040F16;
    --dark-moss-green: #50673Bff;
    --yellow-green: #BDD367ff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--section-color);
}

h1 {
    font-weight: 700;
    font-size: 94px;
    line-height: 1;
    margin: 30px 0;
    color: var(--primary-color);
}

h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    color: var(--primary-color);
}

h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
    color: var(--primary-color);
}

h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: var(--title-color);
    margin: 0;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3px;
    color: var(--title-color);
    opacity: 0.5;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-gap: 60px;
}

section {
    margin: 0 auto;
    padding: 100px;
}

.secondary {
    /* background-image: linear-gradient(rgba(39, 51, 29, 0.6), rgba(172, 62, 71, 0.4)), url(../images/landscape.jpg); */
    background-color: var(--section-color);
}

.secondary h4, .secondary h5  {
    /* background-image: linear-gradient(rgba(39, 51, 29, 0.6), rgba(172, 62, 71, 0.4)), url(../images/landscape.jpg); */
    text-align: center;
}


.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    background-image: linear-gradient(rgba(39, 51, 29, 0.6), rgba(172, 62, 71, 0.4)), url(../images/rio-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    text-align: center;
    padding: 260px 0;
}

header a {
    display: inline-block;
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--primary-color);
    padding: 16px 32px;
    margin-top: 32px;
}

main {
    background-color: var(--primary-color);
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.responsive-image {
    max-width: 100%;
}

footer {
    background-image: linear-gradient(rgba(39, 51, 29, 0.6), rgba(172, 62, 71, 0.4)), url(../images/calcadao-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
}

h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

footer p {
    color: var(--primary-color);
    opacity: 0.9;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: var(--primary-color);
    opacity: 0.9;
}

.grid-3-columns-footer {
    grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 900px) {
    header {
      padding: 60px 0;  
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    section {
        padding: 30px;
    }

    h4 {
    font-size: 26px;
    }

    h5 {
        font-size: 12px;
    }

    footer {
        padding: 40px 20px;
    }
}